nav {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
.travel-icon {
width: auto;
height: 70px;
padding:
}

footer {
  position: fixed;
  background-color: aqua;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  }