nav {
  display: flex;
  justify-content: center;
  background-color: #87CEEB	;
}

footer {
  position: fixed;
  background-color: #87CEEB	;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.journal-icon {
  width: auto;
  height: 70px;
  padding: 0px;
}

.travel{
  display:flex;
  flex-direction: row;
}

.travel-img {
  width: 425px;
  height: 225px;
  padding: 10px;
}

.travel-stats { 
  display: flex;
  flex-direction: row;
  height: 20px;
}

.travel-link{
  padding-left: 20px;
}

.bold{
  font-size: 35px;
  font-style: bold;
  font-weight: 950;
}

.date {
  font-style: bold;
  font-size: 15px;
  font-weight: 950;
}

/* git status
git add .
git commit -m "aaa"
git push */