nav {
  display: flex;
  justify-content: center;
  background-color: aqua;
}
footer {
  position: fixed;
  background-color: aqua;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  }
.travel-icon {
  width: auto;
  height: 70px;
  padding: 0px;
}

.travel-img {
  width: auto;
  height: 175px;
  padding: 10px;
}

.travel-stats { 
  padding: 0;
}

.location-img{
  height: 20px;
  padding-left:10px;
}
.travel-location{
  padding-left: 5px;
}
.travel-link {
  padding-left: 5px;
}


.travel-lists {
  display: flex;
  flex-direction: row;
}


  /* git status
git add .
git commit -m "aaa"
git push */